/mnt
/cache
/coal-*.tgz
/usb-*.tgz
/upgrade-*.tgz
/boot-*.tgz
/config/*.local
/config/*.inc/root.authorized_keys
/build.spec.local
/*.vmwarevm
/*.img
/log
*.swp
/tmp
/.DS_Store
/hvm/platform*
/hvm/agents*
/recipe.*
/*.tar.bz2
/answers.json
/tools-man/man1/sdc-dsapi.1.roff
/tools-man/man1/sdc-ldap.1.roff
/tools-man/man1/sdc-oneachnode.1.roff
/build
/docs/*.html
/docs/*.json
