/65-files
/mnt
/cache
/coal-*-*-*
/usb-*-*-*
/boot-*-*-*
/incr-upgrade-*-*-*
/node_modules
/upgrade-*.tgz
/config/*.local
/config/root.authorized_keys
/build.spec.local
/*.vmwarevm
/*.img
/log
*.swp
/tmp
/.DS_Store
/hvm/platform*
/hvm/agents*
/recipe.*
/*.tar.bz2
/answers.json
/tools-man/man1/*.roff
/build
/docs/*.html
/docs/*.json
boot_archive.manifest
usb_key.manifest
root.password.*
config/config.inc/root.authorized_keys
