/mnt
/cache
/coal-*.tgz
/usb-*.tgz
/upgrade-*.tgz
/config/*.local
/config/*.inc/root.authorized_keys
/build.spec.local
/*.vmwarevm
/*.img
/log
*.swp
/tmp
/.DS_Store
/datasets
/hvm/platform*
/hvm/agents*
/recipe.*
/*.tar.bz2
