{
    "config_console": "vga",
    "skip_instructions": true,
    "simple_headers": true,
    "skip_final_confirm": true,
    "skip_edit_config": true,
    "datacenter_company_name": "Joyent",
    "region_name": "coal",
    "datacenter_name": "coal",
    "datacenter_location": "My Laptop",
    "admin_nic": "00:50:56:34:60:4c",
    "admin_ip": "10.99.99.7",
    "admin_provisionable_start": "<default>",
    "admin_netmask": "255.255.255.0",
    "admin_gateway": "none",
    "setup_external_network": false,
    "skip_ntp_check": true,
    "skip_dns_check": true,
    "headnode_default_gateway": "<default>",
    "dns_resolver1": "<default>",
    "dns_resolver2": "<default>",
    "dns_domain": "joyent.us",
    "dns_search": "joyent.us",
    "dhcp_range_end": "10.99.99.253",
    "ntp_host": "<default>",
    "root_password": "root",
    "admin_password": "joypass123",
    "api_password": "joypass123",
    "mail_to": "<default>",
    "mail_from": "<default>",
    "phonehome_automatic": "<default>",
    "update_channel": "release"
}
