{
    "config_console": "vga",
    "skip_instructions": true,
    "simple_headers": true,
    "skip_final_confirm": true,
    "skip_edit_config": true,
    "datacenter_company_name": "Joyent",
    "datacenter_name": "coal",
    "datacenter_location": "My Laptop",
    "datacenter_headnode_id": "<default>",
    "admin_nic": "00:50:56:34:60:4c",
    "admin_ip": "10.99.99.7",
    "admin_provisionable_start": "<default>",
    "admin_netmask": "255.255.255.0",
    "admin_gateway": "10.99.99.7",
    "external_nic": "00:50:56:3d:a7:95",
    "external_ip": "10.88.88.200",
    "external_vlan_id": "<default>",
    "external_provisionable_start": "<default>",
    "external_provisionable_end": "<default>",
    "external_netmask": "255.255.255.0",
    "external_gateway": "10.88.88.2",
    "headnode_default_gateway": "<default>",
    "dns_resolver1": "<default>",
    "dns_resolver2": "<default>",
    "dns_domain": "joyent.us",
    "dns_search": "joyent.us",
    "ntp_host": "<default>",
    "root_password": "root",
    "admin_password": "joypass123",
    "api_password": "joypass123",
    "mail_to": "<default>",
    "mail_from": "<default>"
}
