loader_logo="smartos"
loader_brand="smartos"
headnode="true"
ipxe-bootfile="/boot/ipxe.lkrn"
ipxe-archive="/boot/default.ipxe"
ipxe-efi="/boot/ipxe.efi"
ttya-mode="115200,8,n,1,-"
ttyb-mode="115200,8,n,1,-"
ttyc-mode="115200,8,n,1,-"
ttyd-mode="115200,8,n,1,-"
