default 0
timeout 10
min_mem64 1024
#SERIAL
terminal composite
variable os_console DEFAULT_CONSOLE

title Compute Node (PXE)
   kernel /boot/ipxe.lkrn
   module /boot/default.ipxe

title Live 64-bit
   kernel$ /PLATFORM/i86pc/kernel/amd64/unix -B console=${os_console},${os_console}-mode="115200,8,n,1,-",headnode=true
   module /PLATFORM/i86pc/amd64/boot_archive
   module /PLATFORM/i86pc/amd64/boot_archive.hash

#PREV title Live 64-bit (rollback to PREV_PLATFORM_VERSION)
#PREV    kernel$ /PREV_PLATFORM/i86pc/kernel/amd64/unix -B console=${os_console},${os_console}-mode="115200,8,n,1,-",headnode=true
#PREV    module /PREV_PLATFORM/i86pc/amd64/boot_archive
#PREV    module /PREV_PLATFORM/i86pc/amd64/boot_archive.hash

title Live 64-bit Rescue (no importing zpool)
   kernel$ /PLATFORM/i86pc/kernel/amd64/unix -B console=${os_console},${os_console}-mode="115200,8,n,1,-",headnode=true,noimport=true
   module /PLATFORM/i86pc/amd64/boot_archive
   module /PLATFORM/i86pc/amd64/boot_archive.hash

title Live 64-bit +kmdb
   kernel$ /PLATFORM/i86pc/kernel/amd64/unix -kd -B console=${os_console},${os_console}-mode="115200,8,n,1,-",headnode=true
   module /PLATFORM/i86pc/amd64/boot_archive
   module /PLATFORM/i86pc/amd64/boot_archive.hash

title Legacy Firmware Upgrade Mode
   kernel$ /boot/memdisk console=${os_console}
   module /boot/freedos.img raw
