#!/bin/bash
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

#
# Copyright (c) 2014, Joyent, Inc.
#

# This is an example post-install script.
# Post-install scripts are not formally suported features
# and are not intended to be used for anything other than
# test purposes.


set -o errexit
set -o pipefail

# Do something here
# ex.
# uuid=`sysinfo | json UUID`
# callbackhost='1.2.3.4'
# curl -X POST http://$callbackhost/setup/complete?uuid=$uuid

exit 0;
